@font-face {
    font-family: "Typewriter";
    src: url("../fonts/JMH\ Typewriter.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Typewriter-Black";
    src: url("../fonts/JMH\ Typewriter-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Typewriter-Bold";
    src: url("../fonts/JMH\ Typewriter-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Typewriter-Thin";
    src: url("../fonts/JMH\ Typewriter-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MrsSaintDelafield-Regular";
    src: url("../fonts/MrsSaintDelafield-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}