/* General */
body,
html {
	background-color: black;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: "SourceSansPro";
}

main,
article,
section {
	width: 100%;
	height: 100%;
	position: relative;
}

/* Ocean */
#titanicWrapper {
	/* animation: shipping 50s ease-in infinite; */
	transform: translate(-10%, 2%);
	display: inline-block;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	position: relative;
}

#titanicPartLeft {
	display: inline-block;
	z-index: 1;
	position: relative;
	position: absolute;
	left: 0;
	top: 0;
}

#titanicPartRight {
	display: inline-block;
	z-index: 1;
	position: relative;
	position: absolute;
	right: 0;
	top: 0;
} 

#titanicWrapperRotation {
	display: inline-block;
	animation: shippingUpAndDown 3s ease-in-out alternate infinite;
}

#titanic {
	z-index: 1;
	position: relative;
}

@keyframes shipping {
	0% {
		transform: translateX(-10%)
	}
	100% {
		transform: translateX(60%)
	}
}

@keyframes shippingUpAndDown {
	0% {
		transform: translateY(-45%) rotate(-1deg)
	}
	100% {
		transform: translateY(-50%) rotate(1deg)
	}
}

@keyframes sinkLeftPart {
	20% {
		transform: translateY(75%) rotate(20deg);
	}
	100% {
		transform: translateY(220%) rotate(20deg);
	}
}

@keyframes sinkRightPart {
	30% {
		transform: translateY(75%) rotate(-20deg);
	}
	100% {
		transform: translateY(220%) rotate(-20deg);
	}
}

@keyframes smoke {
	0% {
		opacity: 1;
		border-radius: 50%;
		transform: scale(1)
	}
	80% {
		transform: translate3d(-40px, -150px, 0px) rotate(20deg) skew(-30deg) scale(2);
		filter: blur(5px);
		border-radius: 50%;
	}
	100% {
		opacity: 0;
	}
}

#box {
	background: #8ba9c9;
	background: -moz-linear-gradient(-45deg, #8ba9c9 0%, #ab9fc6 84%, #ab9fc6 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #8ba9c9), color-stop(84%, #ab9fc6), color-stop(100%, #ab9fc6));
	background: -webkit-linear-gradient(-45deg, #8ba9c9 0%, #ab9fc6 84%, #ab9fc6 100%);
	background: -o-linear-gradient(-45deg, #8ba9c9 0%, #ab9fc6 84%, #ab9fc6 100%);
	background: -ms-linear-gradient(-45deg, #8ba9c9 0%, #ab9fc6 84%, #ab9fc6 100%);
	background: linear-gradient(135deg, #8ba9c9 0%, #ab9fc6 84%, #ab9fc6 100%);
	border: 1px dotted whitesmoke;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a90c7', endColorstr='#8f5dda', GradientType=1);
	height: 100vh;
	margin: 0;
	width: 100%;
}

#chimney-smoke-box1 {
	left: 270px;
}

#chimney-smoke-box2 {
	left: 390px;
}

#chimney-smoke-box3 {
	left: 510px;
}

#chimney-smoke-box4 {
	left: 630px;
}

.chimney-smoke-box {
	height: 50px;
	top: 70px;
	position: absolute;
	width: 30px;
	visibility: hidden;
}

.chimney-smoke {
	animation: smoke 3.5s infinite ease-out;
	background: #2c2c2c;
	background: -webkit-repeating-linear-gradient(90deg, transparent 0%, #2c2c2c 50%);
	background: -o-repeating-linear-gradient(90deg, transparent 0%, #2c2c2c 50%);
	background: -moz-repeating-linear-gradient(90deg, transparent 0%, #2c2c2c 50%);
	background: repeating-linear-gradient(90deg, transparent 0%, #2c2c2c 50%);
	filter: blur(4px);
	height: 100%;
	position: relative;
	width: 100%;
}
#chimney-smoke2 {
	top: -55px;
	animation-delay: 0.5s;
}

#chimney-smoke3 {
	top: -105px;
	animation-delay: 1s;
}

#chimney-smoke4 {
	top: -155px;
	animation-delay: 1.5s;
}

#chimney-smoke5 {
	top: -205px;
	animation-delay: 2.5s;
}

#chimney-smoke6 {
	top: -255px;
	animation-delay: 3s;
}

#iceberg {
	position: absolute;
	right: -20%;
	top: -105%;
	width: 400px;
	transform: translateX(0%);
}

@keyframes icebergMovement {
	0% {
		transform: translateX(0%)
	}
	100% {
		transform: translateX(-140%)
	}
}

.lifeboat {
	position: absolute;
	width: 40px;
	left: 50%;
	bottom: 10%;
	transform: translateX(0%);
}

#lifeboat1{
	left: 40%;
	bottom: 12%;
}

#lifeboat2{
	left: 50%;
	bottom: 5%;
}

#lifeboat3{
	left: 32%;
	bottom: 10%;
}

#lifeboat4{
	left: 46%;
	bottom: 16%;
}

@keyframes moveLifeBoat {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(3000%);
	}
}

.ocean {
	height: 30%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.wave {
	background: url("../img/wave.svg");
	background-size: cover;
	position: absolute;
	width: 200%;
	height: 100%;
	animation: wave 10s -11s linear alternate infinite;
	transform: translate3d(0, 0, 0);
	opacity: 0.8;
	z-index: 1;
	bottom: -20%;
}

.wave:nth-of-type(2) {
	bottom: -50%;
	animation: wave 17s linear alternate infinite;
	opacity: 0.5;
	z-index: 5;
}

.wave:nth-of-type(3) {
	bottom: -30%;
	animation: wave 20s -17s ease-in alternate infinite;
	opacity: 0.5;
	z-index: 5;
}

.wave:nth-of-type(4) {
	bottom: -40%;
	animation: wave 30s -23s ease-in alternate infinite;
	opacity: 0.8;
	z-index: 1;
	
}

@keyframes wave {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-25%);
	}

	100% {
		transform: translateX(-50%);
	}
}

.cloudPane {
	margin: 0 auto;
}

/*main divs*/
.infoPane {
	width: 1200px;
	height: 3000px;
	margin: 0 auto;
	position: relative;
	background: white;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .3);
	overflow: hidden;
	z-index: -5;
}

.cloudPane {
	width: 100%;
	height: 100%;
	background: linear-gradient(#0086D5, #6caabc, #B3D0E6, #f7eda0, #000);
	z-index: -4;
}

#cloud1 {
	opacity: .9;
	top: 10%;
	left: 120%;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
	-moz-animation: drift 25s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-delay: 8s;
	-webkit-animation: drift 25s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 8s;
	animation: drift 25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 8s;
	z-index: 2;
}

#circ1 p {
	color: #B3DAE6;
	font-size: 40px;
	font-family: helvetica;
	position: absolute;
	top: 5px;
	left: -10px;
}

#cloud2 {
	opacity: .8;
	top: 23%;
	left: 120%;
	-webkit-transform: scale(.7);
	-moz-transform: scale(.7);
	transform: scale(.7);
	-moz-animation: drift 50s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-webkit-animation: drift 50s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation: drift 50s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	z-index: 1;
}

#cloud3 {
	opacity: 0;
	top: 32%;
	left: 50%;
	-webkit-transform: scale(.35);
	-moz-transform: scale(.35);
	transform: scale(.35);
	-moz-animation: driftBg 70s;
	-moz-animation-timing-function: linear;
	-webkit-animation: driftBg 70s;
	-webkit-animation-timing-function: linear;
	animation: driftBg 70s;
	animation-timing-function: linear;
	z-index: 0;
}

#cloud4 {
	opacity: 0;
	top: 22%;
	left: 20%;
	-webkit-transform: scale(.40, .45);
	-moz-transform: scale(.40, .45);
	transform: scale(.40, .45);
	-moz-animation: driftBg2 60s;
	-moz-animation-timing-function: linear;
	-webkit-animation: driftBg2 60s;
	-webkit-animation-timing-function: linear;
	animation: driftBg2 60s;
	animation-timing-function: linear;
	z-index: 0;
}

#cloud5 {
	opacity: 0;
	top: 26%;
	left: 90%;
	-webkit-transform: scale(.40);
	-moz-transform: scale(.40);
	transform: scale(.40);
	-moz-animation: driftBg3 90s;
	-moz-animation-timing-function: linear;
	-webkit-animation: driftBg3 90s;
	-webkit-animation-timing-function: linear;
	animation: driftBg3 90s;
	animation-timing-function: linear;
	z-index: 0;
}

#cloud6 {
	opacity: .7;
	top: 11%;
	left: 120%;
	-webkit-transform: scale(.40);
	-moz-transform: scale(.40);
	transform: scale(.40);
	-moz-animation: drift 110s;
	-moz-animation-timing-function: linear;
	-mox-animation-iteration-count: infinite;
	-moz-animation-delay: 11s;
	-webkit-animation: drift 110s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 11;
	animation: drift 110s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 11;
	z-index: 0;
}

#cloud7 {
	opacity: .8;
	top: 16%;
	left: 120%;
	-webkit-transform: scale(.7);
	-moz-transform: scale(.7);
	transform: scale(.7);
	-moz-animation: drift 45s;
	-moz-animation-timing-function: linear;
	-mox-animation-iteration-count: infinite;
	-moz-animation-delay: 35s;
	-webkit-animation: drift 45s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 35s;
	animation: drift 45s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 35s;
	z-index: 1;
}

/*individual circle position*/
#circ1 {
	z-index: 1;
}

#circ2 {
	top: 50px;
	left: -40px;
}

#circ3 {
	top: 50px;
	left: -120px;
}

#circ4 {
	top: 30px;
	left: -60px;
}

#circ5 {
	top: 100px;
	left: -150px;
}

#circ6 {
	top: 100px;
	left: 130px;
}

/*circle shadows*/
#circ1shadow,
#circ2shadow,
#circ3shadow,
#circ5shadow,
#circ6shadow {
	background-repeat: no-repeat;
	position: absolute;
	z-index: 2;
	-webkit-transform: scale(.9, -.9);
	-mox-transform: scale(.9, -.9);
	transform: scale(.9, -.9);

}

#circ1shadow {
	background: -webkit-radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
	background: -moz-radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
	background: radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
	top: 2px;
	z-index: 3;
}

#circ2shadow {
	background: -webkit-radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
	background: -moz-radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
	background: radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
	top: 0px;
}

#circ3shadow {
	background: -webkit-radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
	background: -moz-radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
	background: radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
	top: 8px;
	-webkit-transform: scale(.8, -.8);
	-moz-transform: scale(.8, -.8);
	transform: scale(.8, -.8);
}

#circ5shadow {
	background: -webkit-radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
	background: -moz-radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
	background: radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
	top: 0px;
}

#circ6shadow {
	background: -webkit-radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
	background: -moz-radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
	background: radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
	top: 0px;
}

/*style the clouds*/
.bigCloud {
	box-shadow: 10px 10px 5px 20px black inset;
	position: absolute;
}

/*style circles that make up clouds*/
.smallCircle {
	height: 100px;
	width: 100px;
	background: white;
	border-radius: 100%;
	position: absolute;
}

.middleCircle {
	height: 150px;
	width: 150px;
	background: white;
	border-radius: 100%;
	position: absolute;
}

.largeCircle {
	height: 200px;
	width: 200px;
	background: white;
	border-radius: 100%;
	position: absolute;
}

/*Circle shadows*/

/*#circShadow1 {
	  background: grey;
	  border-radius: 30px 20px 500px 20px;
	  
	  -webkit-transform: rotate(45deg);
	  z-index:2;
  }*/

/*stars*/
.star {
	height: 3px;
	width: 3px;
	background: white;
	position: absolute;
	z-index: 0;
}

#star1 {
	top: 20px;
	left: 20%;
}

#star1+.star {
	top: 20px;
	left: 70%;
}

#star2 {
	top: 80px;
	left: 4%;
}

#star2+.star {
	top: 80px;
	left: 75%;
}

#star3 {
	top: 150px;
	left: 3%;
}

#star3+.star {
	top: 150px;
	left: 90%;
}

#star4 {
	top: 100px;
	left: 7%;
}

#star4+.star {
	top: 100px;
	left: 78%;
}

#star5 {
	top: 130px;
	left: 13%;
}

#star5+.star {
	top: 130px;
	left: 60%;
}

#star6 {
	height: 5px;
	width: 5px;
	top: 50px;
	left: 18%;
}

#star6+.star {
	height: 5px;
	width: 5px;
	top: 50px;
	left: 92%;
}

#star7 {
	top: 35px;
	left: 27%;
}

#star7+.star {
	top: 35px;
	left: 79%;
}

#star8 {
	top: 35px;
	left: 900px;
}

#star8+.star {
	top: 35px;
	left: 88%;
}

#star9 {
	height: 4px;
	width: 4px;
	top: 50px;
	left: 45%;
}

#star9+.star {
	height: 4px;
	width: 4px;
	top: 50px;
	left: 97%;
}

#star10 {
	top: 100px;
	left: 44%;
}

#star10+.star {
	top: 100px;
	left: 83%;
}

#star11 {
	top: 75px;
	left: 37%;
}

#star11+.star {
	top: 75px;
	left: 66%;
}

@-webkit-keyframes drift {
	from {
		left: 120%;
	}

	to {
		left: -25%;
	}
}

@-moz-keyframes drift {
	from {
		left: 120%;
	}

	to {
		left: -25%;
	}
}

@keyframes drift {
	from {
		left: 120%;
	}

	to {
		left: -25%;
	}
}

@-webkit-keyframes driftBg {
	0% {
		left: 50%;
		opacity: 0
	}

	3% {
		left: 48%;
		opacity: .7
	}

	100% {
		left: -25%;
		opacity: .7;
	}
}

@-moz-keyframes driftBg {
	0% {
		left: 50%;
		opacity: 0
	}

	3% {
		left: 48%;
		opacity: .7
	}

	100% {
		left: -25%;
		opacity: .7;
	}
}

@keyframes driftBg {
	0% {
		left: 50%;
		opacity: 0
	}

	3% {
		left: 48%;
		opacity: .7
	}

	100% {
		left: -25%;
		opacity: .7;
	}
}

@-webkit-keyframes driftBg2 {
	0% {
		left: 20%;
		opacity: 0
	}

	3% {
		left: 19%;
		opacity: .7
	}

	100% {
		left: -25%;
		opacity: .7;
	}
}

@-moz-keyframes driftBg2 {
	0% {
		left: 20%;
		opacity: 0
	}

	3% {
		left: 19%;
		opacity: .7
	}

	100% {
		left: -25%;
		opacity: .7;
	}
}

@keyframes driftBg2 {
	0% {
		left: 20%;
		opacity: 0
	}

	3% {
		left: 19%;
		opacity: .7
	}

	100% {
		left: -25%;
		opacity: .7;
	}
}

@-webkit-keyframes driftBg3 {
	0% {
		left: 90%;
		opacity: 0
	}

	2% {
		left: 88%;
		opacity: .65
	}

	100% {
		left: -25%;
		opacity: .65;
	}
}

@-moz-keyframes driftBg3 {
	0% {
		left: 90%;
		opacity: 0
	}

	2% {
		left: 88%;
		opacity: .65
	}

	100% {
		left: -25%;
		opacity: .65;
	}
}

@keyframes driftBg3 {
	0% {
		left: 90%;
		opacity: 0
	}

	2% {
		left: 88%;
		opacity: .65
	}

	100% {
		left: -25%;
		opacity: .65;
	}
}

#boardingPass-wrapper {
	position: absolute;
	z-index: 5;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1200px;
	height: 500px;
	display: flex;
	flex-direction: row;
}

#boardingPass-wrapper .boardingPass-part {
	/*background-color: rgba(255, 255, 255, 0.8);*/
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 18%, rgba(255, 255, 255, 0.9) 18%);
	border-radius: 40px;
	padding: 40px;
}

#boardingPass-wrapper .boardingPass-left {
	width: 70%;
	height: calc(100% - 80px);
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	padding-right: unset;
}

#boardingPass-wrapper .boardingPass-right {
	width: 30%;
	height: calc(100% - 80px);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-left: unset;
}


#boardingPass-wrapper .boardingPass-right .boardingPass-part-wrapper {
	height: 100%;
	width: calc(100% + 2px);
	border-left: 4px dotted black;
	margin-left: -2px;
}

#boardingPass-wrapper .boardingPass-left .boardingPass-part-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#boardingPass-wrapper .boradingPass-left-content {
	display: flex;
	flex-direction: row;
	height: 85%;
	position: relative;
}

#boardingPass-wrapper .boradingPass-right-content{
	display: flex;
	flex-direction: column;
	height: 85%;
	position: relative;
	padding-left: 40px;
}

#boardingPass-wrapper .boradingPass-left-header,
#boardingPass-wrapper .boradingPass-right-header {
	display: flex;
	flex-direction: row;
	height: calc(15% - 15px);
	padding-bottom: 15px;
	align-items: center;
}

#boardingPass-wrapper .boradingPass-left-header img {
	height: 100%;
	object-fit: contain;
	margin-top: -30px;
}

div#boardingPass-wrapper .boradingPass-left-header p,
div#boardingPass-wrapper .boradingPass-right-header p {
	margin: unset;
	font-size: 30px;
	color:white;
	margin-left: 30px;
	text-transform: uppercase;
	margin-top: -30px;
}

div#boardingPass-wrapper .boradingPass-right-header p {
	margin-left: unset;
	padding-left: 40px;
}

#boardingPass-wrapper .boardingPass-left .boradingPass-left-content img {
	position: absolute;
	top: 3%;
	left: 85%;
	width: 10%;
	height: 94%;
	object-fit: cover;
}

form#passagerForm {
	display: flex;
	flex-direction: column;
	width: calc(90% - 40px);
}

form#passagerForm .form-row{
	display: flex;
	flex-direction: row;
	gap: 15px;
	height: calc(100% / 3);
}

form#passagerForm .input-wrapper {
	display: flex;
	flex-direction: column;
	width: calc(100% / 3);
}

form#passagerForm .input-wrapper:not(.radio) label,
form#passagerForm .input-wrapper > p:first-of-type,
#boardingPass-wrapper .boradingPass-right-content div > p {
	font-family: "Oswald";
	text-transform: uppercase;
	font-size: 16px;
	margin: unset;
}

form#passagerForm input:not([type=radio]),
form#passagerForm select {
	width: 70%;
}

form#passagerForm input,
form#passagerForm select,
form#passagerForm .input-wrapper.radio label,
#boardingPass-wrapper .boradingPass-left-header p,
#boardingPass-wrapper .boradingPass-right-header p,
.boradingPass-right-content span {
	font-size: 22px;
	border: none;
	font-weight: 600;
	background: transparent;
}

#submitButton {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 10%;
	z-index: 10;
	background-color: white;
	padding: 10px 30px;
	outline: 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 24px;
	margin: unset;
}

.boradingPass-right-content > div {
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.boradingPass-right-content > div span {
	margin-left: 10px;
	font-family: "MS Shell Dlg 2";
}

#survivedText {
	position: absolute;
	font-size: 220px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
}